@import url('https://fonts.googleapis.com/css?family=Muli:400,700&display=swap');

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
	padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

/* Set core body defaults */
body {
	// min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
	list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
	max-width: 100%;
	display: block;
}

/* Natural flow and rhythm in articles by default */
article>*+* {
	margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/*End Reset CSS*/

:root {
	--card-height: 7rem;
}

html,
body {
	font-family: 'Muli', sans-serif;
	font-size: min(max(16, 4vw), 22px);
	font-weight: 700;
	color: rgb(131, 131, 131);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1 {
	text-align: center;
	margin-bottom: 2rem;
}

.menu-toggle {
	position: absolute;
	top: 20px;
	right: 25px;
	font-size: 1.5rem;
	cursor: pointer;
	padding: 5px;
	width: 40px;
	height: 40px;
	z-index: 2;
	fill: #cecece;
	will-change: fill;
}

.menu-toggle:hover,
.menu-toggle:focus {
	fill: #a8a8a8;
	transition: all 0.25s ease;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 1;
}

.main-menu {
	height: 100%;
	width: 0%;
	max-width: 560px;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #fff;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;
}

.main-menu a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: var(--dimmed-text-color);
	display: block;
	transition: 0.3s;
}

.main-menu a:hover {
	color: var(--primary-text-color);
}

.main-menu .closebtn {
	position: absolute;
	display: block;
	cursor: pointer;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

.main-menu section {
	padding: 1rem;
	width: 80%;
	display: block;
	overflow: hidden;
}

footer.menu-footer{
	position: absolute;
	padding: 1rem;
	bottom: 0;
}

footer.menu-footer > a {
	font-size: 80%;
	padding: 0;
}

.game {
	background: #fff;
	// border-radius: 2em;
	padding: 1em;
	// box-shadow: -1px 0px 20px 5px rgb(160, 160, 160);
	max-width: 960px;
	margin: 5vw auto;
}

.game_area {
	display: block;

	&.blur {
		filter: blur(3px);
	}
}

.game_area--cards {
	display: grid;
	grid-auto-rows: auto 1fr;
	grid-gap: 50px;
	margin-bottom: 3em;
}

.game_area--controls {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-bottom: 2em;
}

.game_area--controls > button, .btn {
	display: flex;
	justify-content: center;
	width: 22%;
	line-height: 2;
	font-weight: 700;
	font-family: inherit;
	color: #444;
	border-radius: 20px;
	margin-top: 5px;
	background-color: transparent;
	border: 2px solid#a8a8a8;

	&:disabled {
		color: #cecece;
		border: 2px solid #cecece;
	}

}

.btn {
	width: 50%;
}

.game_area--details {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	margin-bottom: 2em;
}

.dealer,
.player {
	position: relative;
	padding: 5px;
	margin: 0 auto;
	// background: pink;
}

.player,
.is-split {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}

.hand {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;

	&:not(:last-child) {
		margin-right: 10px;
	}

	&.is-dimmed {
		opacity: 0.3;
		transform: scale(0.8);
	}
}

.is-split .hand {
	flex-wrap: wrap;
}

.card {
	position: relative;
	height: var(--card-height);
	max-height: 220px;
	min-height: 70px;
	width: calc(var(--card-height) * 0.7);
	max-width: calc(220px * 0.7);
	margin-right: 5px;
	margin-bottom: 5px;
	border-radius: 10px;
	border: 5px solid #fff;
	color: #fff;

	&.red {
		background: tomato;
	}

	&.black {
		background: #444;
	}

	&:not(:first-child) {
		margin-left: calc(0px - (var(--card-height) * 0.35));
	}
}

.card * {
	position: absolute;
	font-size: 125%;
	font-weight: bold;
	top: 10px;
	left: 10px;

	&:last-child {
		top: auto;
		bottom: 10px;
		max-width: 20px;
		height: auto;
	}
}

.card_back {
	display: flex;
	justify-content: center;
	position: relative;
	height: var(--card-height);
	max-height: var(--card-max-height);
	width: calc(var(--card-height) * 0.7);
	max-width: calc(200px * 0.7);
	margin-right: 5px;
	margin-bottom: 5px;
	border-radius: 10px;
	border: 5px solid #fff;
	background: rgb(211, 114, 4);
	color: #fff;
	margin-left: calc(0px - (var(--card-height) * 0.4));
}

.card_back img {
	width: calc(var(--card-height) * 0.5);
	height: auto;
}

.score {
	position: absolute;
	color: #a8a8a8;
	font-size: 25px;
	font-weight: bold;
	bottom: -1em;
}

#toast {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	overflow: hidden;
	align-items: center;
	justify-content: center;
}

#toast > span {
	color: #fff;
	padding: 1rem;
	background-color: rgba(211, 114, 4, 0.9);
	border-radius: 1.5rem;
	box-shadow:0 0 20px rgba(0,0,0,0.3);
	font-size: 3rem;
	transition: background-color 0.25s ease;
	animation: scale 0.25s;
}

.img-responsive {
	width: 100%;
	height: auto;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 0vh;
	background-color: transparent;
	overflow: hidden;
	transition: background-color 0.25s ease;
	z-index: 9998;
}

.modal.open {
	position: fixed;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	transition: background-color 0.25s;
}

.modal.open>.content-wrapper {
	transform: scale(1);
}

.modal .content-wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width: 90%;
	max-width: calc(500px * 0.95);
	margin: 0;
	padding: 2.5rem;
	background-color: white;
	border-radius: 0.3125rem;
	box-shadow: 0 0 2.5rem rgba(0, 0, 0, 0.5);
	transform: scale(0);
	transition: transform 0.25s;
	transition-delay: 0.15s;
	color: #444;
}

.modal.open.settled .content-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.25s linear;
}

.modal .content-wrapper .close {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 2.5rem;
	height: 2.5rem;
	border: none;
	background-color: transparent;
	font-size: 1.5rem;
	transition: 0.25s linear;
}

.modal .content-wrapper .close:before,
.modal .content-wrapper .close:after {
	position: absolute;
	content: '';
	width: 1.25rem;
	height: 0.125rem;
	background-color: #a8a8a8;
}

.modal .content-wrapper .close:before {
	transform: rotate(-45deg);
}

.modal .content-wrapper .close:after {
	transform: rotate(45deg);
}

/* .modal .content-wrapper .close:hover {
    transform: rotate(360deg);
} */

.modal .content-wrapper .close:hover:before,
.modal .content-wrapper .close:hover:after {
	background-color: #363636;
}

.modal .content-wrapper .modal-header {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin: 0;
	padding: 0 0 1.25rem;
}

.modal .content-wrapper .modal-header h2 {
	font-size: 1.5rem;
	font-weight: bold;
}

.modal .content-wrapper .content {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	max-width: 100%;
}

.modal .content-wrapper .content p {
	text-align: center;
	font-size: 0.875rem;
	line-height: 1.75;
	word-wrap: break-word;
}

.modal .content-wrapper .content small {
	text-align: center;
	word-wrap: break-word;
}

.modal .content-wrapper .modal-footer {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
	margin: 0;
	padding: 1.875rem 0 0;
}

.modal .content-wrapper .modal-footer .action {
	position: relative;
	margin-left: 0.625rem;
	padding: 0.625rem 1.25rem;
	border: none;
	background-color: slategray;
	border-radius: 0.25rem;
	color: white;
	font-size: 0.87rem;
	font-weight: 300;
	overflow: hidden;
	z-index: 1;
}

.modal .content-wrapper .modal-footer .action:before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 0%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.2);
	transition: width 0.25s;
	z-index: 0;
}

.modal .content-wrapper .modal-footer .action.green {
	background-color: olivedrab;
}

.modal .content-wrapper .modal-footer .action.red {
	background-color: tomato;
}

.modal .content-wrapper .modal-footer .action:hover:before {
	width: 100%;
}

.checkmark {
	width: 56px;
	height: 56px;
	margin: 5rem auto;
	border-radius: 50%;
	display: block;
	stroke-width: 2;
	stroke: #fff;
	stroke-miterlimit: 10;
	box-shadow: inset 0px 0px 0px #7ac142;
	animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__circle {
	stroke-dasharray: 166;
	stroke-dashoffset: 166;
	stroke-width: 2;
	stroke-miterlimit: 10;
	stroke: #7ac142;
	fill: none;
	animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark__check {
	transform-origin: 50% 50%;
	stroke-dasharray: 48;
	stroke-dashoffset: 48;
	animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
	100% {
		stroke-dashoffset: 0;
	}
}

@keyframes scale {

	0%,
	100% {
		transform: none;
	}

	50% {
		transform: scale3d(1.1, 1.1, 1);
	}
}

@keyframes fill {
	100% {
		box-shadow: inset 0px 0px 0px 30px #7ac142;
	}
}

/* Loader */

.loader {
	display: flex;
	position: absolute;
	align-items: center;
	justify-content: center;
	background-color: var(--primary-bg-color);
	width: 100%;
	height: 100vh;
	z-index: 9999;
	stroke: var(--primary-color);
}

.loader svg {
	height: 100px;
	width: 100px;
	transform: rotate(-90deg);
}

.loader circle {
	stroke-dasharray: 156;
	stroke-dashoffset: 156;
	animation: load 2.3s infinite;
}

@keyframes load {
	50% {
		stroke-dashoffset: 0;
	}

	100% {
		stroke-dashoffset: -156;
	}
}

@media only screen and (min-width: 768px) {
	// .menu-toggle {
	// 	display: none;
	// }
	.game_area {
		display: grid;
		grid-template-areas: 'details cards controls';
		// grid-auto-rows: auto;
		grid-template-columns: 0.75fr 2fr .75fr;
	}

	.game_area--details {
		grid-area: details;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-start;
	}

	.game_area--cards {
		grid-area: cards;
	}

	.game_area--controls {
		grid-area: controls;
		flex-direction: column;
		align-items: flex-end;
		justify-content: flex-end;
	}

	.game_area--controls>button {
		width: 75%;
	}
}